*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/vcs.xml

/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/src/main/assets/model.tflite
/app/src/main/assets/salad_colab1.tflite
/app/src/main/assets/salad_finish1.tflite
/app/src/main/assets/salad_google1.tflite
